<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.plugin.twiliovoice" version="1.0.0" 
	xmlns="http://apache.org/cordova/ns/plugins/1.0" 
	xmlns:android="http://schemas.android.com/apk/res/android">

	<name>TwilioVoice</name>

	<js-module name="TwilioVoice" src="www/TwilioVoicePlugin.js">
		<clobbers target="cordova.plugins.TwilioVoice" />
	</js-module>

 <!-- Necessary for Android Push notification support with GCM for Twilio Voice -->
    <preference name="GCM_SENDER_ID" default=""/>

    <!-- Necessary to set app name for incoming call notifications on Android and CallKit on iOS -->
    <preference name="INCOMING_CALL_APP_NAME" default=""/>

    <!-- Necessary to enable CallKit on iOS -->
    <preference name="ENABLE_CALL_KIT" default="false"/>

	 <!-- android -->
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="TwilioVoice">
				<param name="android-package" value="cordova.plugin.twiliovoice.TwilioVoice" />
			</feature>
		</config-file>
		

		<config-file parent="/*" target="AndroidManifest.xml">
			<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
            <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" />
            <permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
		</config-file>


 <config-file target="AndroidManifest.xml" parent="/manifest/application">
        
        <receiver android:name="com.phonegap.plugins.twiliovoice.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>     

        <service
            android:name="com.phonegap.plugins.twiliovoice.gcm.VoiceGCMListenerService"
            android:exported="false">
            <intent-filter android:priority="999">
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name="com.phonegap.plugins.twiliovoice.gcm.VoiceInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <service
            android:name="com.phonegap.plugins.twiliovoice.gcm.GCMRegistrationService"
            android:exported="false"></service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        </config-file>

          <config-file target="res/xml/config.xml" parent="/widget">
           <feature name="TwilioVoicePlugin">
              <param name="android-package" value="com.phonegap.plugins.twiliovoice.TwilioVoicePlugin"/>
            </feature>
        </config-file>

        <config-file target="res/values/strings.xml" parent="/resources">
            <string name="gcm_sender_id" translatable="false">$GCM_SENDER_ID</string>
            <string name="incoming_call_app_name" translatable="false">$INCOMING_CALL_APP_NAME</string>
        </config-file>
        
        <framework src="com.google.android.gms:play-services-gcm:11.0.4" /> 
        <framework src="com.twilio:voice-android:2.0.2"/>

		<source-file src="src/android/TwilioVoice.java" target-dir="src/cordova/plugin/twiliovoice/TwilioVoice" />
		<source-file src="src/android/com/phonegap/plugins/twiliovoice/TwilioVoicePlugin.java"
                target-dir="src/com/phonegap/plugins/twiliovoice" />
        <source-file src="src/android/com/phonegap/plugins/twiliovoice/SoundPoolManager.java"
                target-dir="src/com/phonegap/plugins/twiliovoice" />
        <source-file src="src/android/com/phonegap/plugins/twiliovoice/BootCompletedReceiver.java"
                target-dir="src/com/phonegap/plugins/twiliovoice" />
        <source-file src="src/android/com/phonegap/plugins/twiliovoice/gcm/GcmReceiver.java"
                target-dir="src/com/phonegap/plugins/twiliovoice/gcm" />
        <source-file src="src/android/com/phonegap/plugins/twiliovoice/gcm/GCMRegistrationService.java"
                target-dir="src/com/phonegap/plugins/twiliovoice/gcm" />
        <source-file src="src/android/com/phonegap/plugins/twiliovoice/gcm/VoiceGCMListenerService.java"
                target-dir="src/com/phonegap/plugins/twiliovoice/gcm" />
        <source-file src="src/android/com/phonegap/plugins/twiliovoice/gcm/VoiceInstanceIDListenerService.java"
                target-dir="src/com/phonegap/plugins/twiliovoice/gcm" />

        <source-file src="sounds/ringing.wav" target-dir="res/raw"/>

	</platform>

</plugin>